.main-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  .circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 -6px 14px -4px #01165436;
    animation: spin 1s linear infinite;
  }

  .loader-text {
    font-size: 80px;
    font-weight: bold;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg);
  }
}
